{% extends "base.html.twig" %}
{% set menu_name = "profile" %}
{% use "menu_trainer_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
        {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel_center">
              <div class="user_profile">
                <div class="text-center">
                  <img src="../images/user_profile.jpg" class="mt-5 mb-4 center img-thumbnail" height="300px" width="200px">
                </div>
                <div class="text-center">
                  <small>Uwaga: Twoje dane profilowe są dostępne dla wszystkich uczestników</small>
                  <h3 class="mt-2">{{user.firstName}} {{user.lastName}}</h3> <span class="mt-1 clearfix">{{user.email}}</span>
                  {% if trainerBio.shortDescription is defined %}
                  <span class="mt-1 clearfix">{{trainerBio.shortDescription}}</span>
                  {% else %}

                  {% endif %}
                  <hr class="line">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>Liczba uczestników:</h5>
                      <h5>23</h5>
                    </div>
                    <div class="col-md-4">
                      <h5>Aktywne plany treningowe:</h5>
                      <h5>182</h5>
                    </div>
                    <div class="col-md-4">
                      <h5>Aktywne plany diet:</h5>
                      <h5>85</h5>
                    </div>
                  </div>
                <hr class="line">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-center">Aktualny opis:</h5>
                  {% if trainerBio.description is defined %}
                    <h5 class="text-muted text-justify p-2">{{trainerBio.description|raw}}<h5/>
                  {% else %}
                    <h5 class="text-muted text-justify p-2">Opis nie został jeszcze ustawiony<h5/>
                  {% endif %}
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <h5>facebook:</h5>
                      {% if trainerBio.facebookLink is not defined %}
                      <h6 class="text-danger">Brak danych</h6>
                      {% else %}
                      <h5>{{trainerBio.facebookLink}}</h5>
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      <h5>Instagram:</h5>
                      {% if trainerBio.instagramLink is not defined %}
                      <h6 class="text-danger">Brak danych</h6>
                      {% else %}
                      <h5>{{trainerBio.instagramLink}}</h5>
                      {% endif %}
                    </div>
                  </div>
                <hr class="line">
                  <div class="row">
                    <div class="col-md-12">
                        <span class="mt-3 mb-2 clearfix">Dane kontaktowe:</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <span class="mt-3 clearfix">Telefon:</span>
                        {% if address.phoneNumber is defined %}
                        <span class="mt-3 clearfix">{{address.phoneNumber}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <span class="mt-3 clearfix">Adres zamieszkania:</span>
                        {% if address.country is defined %}
                        <span class="mt-3 clearfix">{{address.country}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.city and address.postCode is defined %}
                        <span class="mt-3 clearfix">{{address.city}} {{address.postCode}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.streetAndNumber is defined %}
                        <span class="mt-3 clearfix">{{address.streetAndNumber}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.isPublic is defined %}
                          {% if address.isPublic is same as(true) %}
                          <span class="mt-3 clearfix text-success">Twój adres jest publiczny, możesz to zmienić w konfiguracji profilu</span>
                          {% else %}
                          <span class="mt-3 clearfix text-success">Twój adres nie jest publiczny, możesz to zmienić w konfiguracji profilu</span>
                          {% endif %}
                        {% else %}
                        {% endif %}
                    </div>
                  </div>
                  <hr class="line" />
                  <div class="row">
                    <div class="col-md-12">
                      <h5>Twoje siłownie:</h5>
                      <span class="mt-3 clearfix">Calypso Wrocław</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-outline-success btn-sm mt-4 mb-4">Zobacz prośby o członkostwo</button>
                    </div>
                  </div>
                </div>
                <div class="edit_buttons">
                  <a href="#edit_menu"><input type="submit" class="fadeIn fourth" value="Otwórz konfigurację profilu" id="openEdit" onclick="openEdit()"></a>
                  <input type="submit" class="fadeIn fourth" value="Zamknij konfigurację profilu" id="closeEdit" onclick="closeEdit()">
                </div>
                <div class="edit_buttons">
                  <a href="#ShowProfile_menu"><input type="submit" class="fadeIn fourth" value="Otwórz podgląd profilu" id="openShowProfile" onclick="openShowProfile()"></a>
                  <input type="submit" class="fadeIn fourth" value="Zamknij podgląd profilu" id="closeShowProfile" onclick="closeShowProfile()">
                </div>
            </div>
          </div>
            <div class="grid_panel_center" id="edit_menu">
              <div class="user_profile">
               <div class="text-center mt-5">
                <div class="text-center mt-2">
                  <h3 class="mt-2">Biogram:</h3>
                  <hr class="line mb-2">
                    {{ form_start(formTrainerBio, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formTrainerBio, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formTrainerBio) }}
                    {{ form_end(formTrainerBio) }}
                  <h3 class="mt-2">Dane konta:</h3>
                  <hr class="line">
                    {{ form_start(formUserData, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formUserData, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formUserData) }}
                    {{ form_end(formUserData) }}
                  <div class="text-center mt-2">
                  <h3 class="mt-2">Hasło:</h3>
                  <hr class="line mb-2">
                    {{ form_start(formPassword, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formPassword, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formPassword) }}
                    {{ form_end(formPassword) }}
                  <h3 class="mt-2">Dane kontaktowe:</h3>
                  <hr class="line">
                    {{ form_start(formAddress, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formAddress, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formAddress) }}
                    {{ form_end(formAddress) }}
                </div>
            </div>
            </div>
            </div>
            </div>
            <div class="grid_panel_center" id="ShowProfile_menu">
              <div class="grid_panel_item text-center">
                <img src="../images/trainer_profile.jpg" class="img-thumbnail pt-2 pb-2 pl-2 pr-2 mt-4" width="200px" height="250px"></img>
                <div class="trainer_main_bio">
                  <span class="trainer_name">{{user.firstName}} {{user.lastName}}</span>
                  <p class="trainer_description">
                  {% if trainerBio.description is defined %}
                  {{trainerBio.description}}
                  {% else %}
                  {% endif %}
                  </p>
                  {% if trainerBio.facebookLink is not defined %}
                      {% else %}
                      <a href="https://{{trainerBio.facebookLink}}" class="text-dark"><i class="fab fa-facebook-square fa-2x"></i></a>
                  {% endif %}
                  {% if trainerBio.instagramLink is not defined %}
                      {% else %}
                      <a href="https://{{trainerBio.instagramLink}}" class="text-dark"><i class="fab fa-instagram-square fa-2x"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block custom_javascript %}
<script>
        function openShowProfile(){
            document.getElementById('openShowProfile').style.display = "none";
            document.getElementById('closeShowProfile').style.display = "block";
            document.getElementById('ShowProfile_menu').style.display = "grid";
          }
        function closeShowProfile(){
            document.getElementById('openShowProfile').style.display = "block";
            document.getElementById('closeShowProfile').style.display = "none";
            document.getElementById('ShowProfile_menu').style.display = "none";
          }
        function openEdit(){
            document.getElementById('openEdit').style.display = "none";
            document.getElementById('closeEdit').style.display = "block";
            document.getElementById('edit_menu').style.display = "grid";
          }
        function closeEdit(){
            document.getElementById('openEdit').style.display = "block";
            document.getElementById('closeEdit').style.display = "none";
            document.getElementById('edit_menu').style.display = "none";
          }
</script>
{% endblock %}