{% extends "base.html.twig" %}
{% set menu_name = "subscription_type" %}
{% use "menu_admin_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
        {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="d-flex">
              <a href="{{ path("add_subscription_type")}}" class="btn-lg btn-success btn-block add_plan_btn" role="button">Dodaj nowy typ subskrypcji!</a>
            </div>
            <div class="grid_panel">
              <div class="user_trainings_list">
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <h2>Tu znajdują się <span class="text-success">typy subskrybcji</span> dostępne dla towich użytkowników</h2>
                </div>
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <table class="table">
                    <tr>
                      <th>Nazwa subskrybcji</th>
                      <th>Opis</th>
                      <th>Okres</th>
                      <th>Cena w EUR</th>
                      <th>Cena w PLN</th>
                      <th colspan="2">Akcje</th>
                    </tr>
                      {% if subscriptionTypeList is empty %}
                      <tr>
                        <td colspan="5"> Aktualnie brak typów subskrypcji</td>
                    </tr>
                      {% else %}
                      {% for subscriptionType in subscriptionTypeList %}
                      <tr>
                        <td> {{ subscriptionType.name }} </td>
                        <td> {{ subscriptionType.description }} </td>
                        <td> {{ subscriptionType.lifeTime }} </td>
                        <td> {{ subscriptionType.priceEur }} </td>
                        <td> {{ subscriptionType.pricePln }} </td>
                        <td><a href="{{ path("edit_subscription_type", {'subscriptionType': subscriptionType.id }) }}" class="text-dark">Edytuj <i class="fas fa-plus"></i></a></td>
                        <td><a href="{{ path("remove_subscription_type", {'subscriptionType': subscriptionType.id }) }}" class="text-dark">Usuń <i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                      {% endfor %}
                      {% endif %}
                    </table>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
{% endblock %}