{% extends "base.html.twig" %}
{% set menu_name = "training_plan" %}
{% use "menu_user_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
                {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel">
              <div class="user_trainings_list">
                <div class="text-center pt-4 pl-4 pr-4 pb-4">
                  <h2><span class="text-success">{{ trainingPlan.planName }}</span></h2><br>
                  <small>Tu znajdziesz konkretne dni twojego planu</small>
                </div>
                <div class="d-flex justify-content-center">
                  <nav aria-label="Page navigation example text-center ">
                    <ul class="pagination pagination-lg">
                      {% if previousDay is null %}
                      {% else %}
                      <li class="page-item">
                      <a class="page-link text-dark main_green_text" href="{{ path("show_training_plan_day", {'trainingPlanDay': previousDay.id, 'trainingPlan': trainingPlan.id }) }}">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Next</span>
                      {{ previousDay.dayName }}
                      </a>
                      </li>
                      {% endif %}
                      <li class="page-item">
                      <a class="page-link text-dark second_green_text font-weight-bold" href="{{ path("show_training_plan_day", {'trainingPlanDay': currentDay.id, 'trainingPlan': trainingPlan.id }) }}">
                      {{ currentDay.dayName }}
                      </a>
                      </li>
                      {% if nextDay is null %}

                      {% else %}
                      <li class="page-item">
                      <a class="page-link text-dark main_green_text" href="{{ path("show_training_plan_day", {'trainingPlanDay': nextDay.id, 'trainingPlan': trainingPlan.id }) }}">
                      {{ nextDay.dayName }}
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <div class="row text-center pt-4 pl-4 pr-4 pb-4" style="overflow-x:auto;" >
                  <table class="table">
                    <tr class="thead-dark">
                      <th>Partia</th>
                      <th>Nazwa ćwiczenia</th>
                      <th>Serie</th>
                      <th>Powtórzenia</th>
                      <th>Czas ćwiczenia</th>
                      <th>Przerwa</th>
                      <th>Opis  <i class="fas fa-pen-square"></i></th>
                    </tr>
                    {% if trainingPlanExercises is empty %}
                    <tr>
                      <td colspan="7"><h2 class="text-danger">Brak ćwiczeń w wybranym dniu!</h2></td>
                    </tr>
                    {% else %}
                    {% for trainingPlanExercise in trainingPlanExercises %}
                    <tr>
                      <td>{{ trainingPlanExercise.muscleGroup }}</td>
                      <td>{{ trainingPlanExercise.exerciseName }}</td>
                      <td>{{ trainingPlanExercise.sets }}</td>
                      <td>{{ trainingPlanExercise.reps }}</td>
                      <td>{{ trainingPlanExercise.time }}</td>
                      <td>{{ trainingPlanExercise.break }}</td>
                      <td>Opis z możliwością wklejenia linku</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </table>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
{% endblock %}