{% extends "base.html.twig" %}
{% set menu_name = "diet_plan" %}
{% use "menu_user_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
                {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel">
              <div class="user_trainings_list">
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <h2>Tu znajdują się <span class="text-success">plany diety</span> udostępnione dla ciebie przez twojego trenera</h2>
                </div>
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <table class="table">
                    <tr>
                      <th>Nazwa Planu</th>
                      <th>Autor</th>
                      <th>Opis</th>
                      <th>Data publikacji</th>
                      <th colspan="2">Akcje</th>
                    </tr>
                    {% if dietPlanList is empty %}
                    <tr>
                      <td colspan="7"><h2 class="text-danger">Twój trener nie udostępnił ci jeszcze rzadnych planów!</h2></td>
                    </tr>
                    {% else %}
                    {% for dietPlan in dietPlanList %}
                    <tr>
                      <td>{{ dietPlan.planName }}</td>
                      <td>{{ dietPlan.trainerFirstName }} {{ dietPlan.trainerLastName }}</td>
                      <td>{{ dietPlan.description }}</td>
                      <td>{{ dietPlan.createdAt|date('d-m-Y') }}</td>
                      <td><a href="{{ path("show_diet_plan_day", {'dietPlanDay': dietPlan.firstDay, 'dietPlan': dietPlan.id }) }}" class="text-dark">Pokaż <i class="fas fa-eye fa-x2 pl-2"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </table>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
{% endblock %}