{% extends "base.html.twig" %}
{% set menu_name = "account_management" %}
{% set admin_role = "ROLE_ADMIN" %}
{% set standar_user_role = "ROLE_USER" %}
{% set trainer_role = "ROLE_TRAINER" %}
{% use "menu_admin_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
                {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel">
              <div class="user_trainings_list">
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <h2>Tu znajdują się <span class="text-success">konta wszystkich aktywnych użytkowników</span> którymi możesz zarządzać</h2>
                </div>
                <div class="text-center mt-2">
                  <hr class="line mb-2">
                    {{ form_start(filterForm, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(filterForm, {'attr': {'class': 'custom_inputs_filter_form'}})}}
                      {{ form_errors(filterForm) }}
                    {{ form_end(filterForm) }}
                </div>
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <table class="table">
                    <tr>
                      <th>Imię i Nazwisko</th>
                      <th>Email</th>
                      <th>Rola</th>
                      <th colspan="3">Akcje</th>
                    </tr>
                    {% if users is empty %}
                    <tr>
                      <td colspan="7"><h2 class="text-danger">Nie znaleziono użytkowników!</h2></td>
                    </tr>
                    {% else %}
                    {% for user in users %}
                    <tr>
                      <td>{{ user.firstName }} {{ user.lastName }}</td>
                      <td>{{ user.email }}</td>
                      <td>
                      {% for role in user.roles %}
                      {{ role }}
                      {% endfor %}
                      </td>
                      <td>
                      {% if admin_role in user.roles %}
                      <span class="badge badge-dark">Podgląd niedostępny<i class="fas fa-eye fa-x2 pl-2"></i></span>
                      {% else %}
                      <a href="{{path("show_and_edit_account",{ 'user': user.id})}}" class="text-dark">Pokaż i edytuj<i class="fas fa-eye fa-x2 pl-2"></i></a>
                      {% endif %}
                      </td>
                      <td><a href="{{path("remove_account",{ 'user': user.id,'returnRoute': menu_name })}}" class="text-dark">Usuń <i class="fas fa-user-times"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </table>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
{% endblock %}