{% extends "base.html.twig" %}
{% set menu_name = "profile" %}
{% use "menu_user_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
        {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel">
              <div class="user_baner">
                <div class="user_baner_text">
                  <h1>{{user.firstName}} {{user.lastName}}</h1><span>Witamy cię w naszej aplikacji tu znajdziesz wszystko by osiągnąć swój cel!</span>                </div>
              </div>
            </div>
            <div class="grid_panel_center">
              <div class="user_profile">
                <div class="text-center">
                  <img src="../images/user_profile.jpg" class="mt-5 mb-4 center img-thumbnail" height="300px" width="200px">
                </div>
                <div class="text-center">
                  <h3 class="mt-2">{{user.firstName}} {{user.lastName}}</h3> <span class="mt-1 clearfix">{{user.email}}</span>
                  <hr class="line">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>Wiek:</h5>
                      {% if userBio.age is not defined %}
                      <h6 class="text-danger">Brak danych</h6>
                      {% else %}
                      <h5>{{userBio.age}}</h5>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      <h5>Wzrost:</h5>
                      {% if userBio.height is not defined %}
                      <h6 class="text-danger">Brak danych</h6>
                      {% else %}
                      <h5>{{userBio.height}}</h5>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      <h5>Aktualna waga:</h5>
                      {% if userBio.weight is not defined %}
                      <h6 class="text-danger">Brak danych</h6>
                      {% else %}
                      <h5>{{userBio.weight}}</h5>
                      {% endif %}
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <button type="button" class="btn btn-outline-success btn-sm mt-4 mb-4">Kalkulator BMI</button>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5>Waga docelowa</h5>
                    <h5 class="text-success">80kg<h5/>
                  </div>
                  <div class="col-md-6">
                    <h5>Tempo chudnięcia</h5>
                    <h5 class="text-success">0.5kg/Tydzień</h5>
                  </div>
                </div>
                <hr class="line">
                  <div class="row">
                    <div class="col-md-12">
                        <span class="mt-3 mb-2 clearfix">Dane kontaktowe</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <span class="mt-3 clearfix">Telefon:</span>
                        {% if address.phoneNumber is defined %}
                        <span class="mt-3 clearfix">{{address.phoneNumber}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <span class="mt-3 clearfix">Adres zamieszkania:</span>
                        {% if address.country is defined %}
                        <span class="mt-3 clearfix">{{address.country}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.city and address.postCode is defined %}
                        <span class="mt-3 clearfix">{{address.city}} {{address.postCode}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.streetAndNumber is defined %}
                        <span class="mt-3 clearfix">{{address.streetAndNumber}}</span>
                        {% else %}
                        <span class="mt-3 clearfix">Brak danych, uzupełnij konfigurację</span>
                        {% endif %}
                        {% if address.isPublic is defined %}
                          {% if address.isPublic is same as(true) %}
                          <span class="mt-3 clearfix text-success">Twój adres jest publiczny, możesz to zmienić w konfiguracji profilu</span>
                          {% else %}
                          <span class="mt-3 clearfix text-success">Twój adres nie jest publiczny, możesz to zmienić w konfiguracji profilu</span>
                          {% endif %}
                        {% else %}
                        {% endif %}
                    </div>
                  </div>
                  <hr class="line" />
                  <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                      <h5>Twój trener:</h5>
                    </div>
                    <div class="col-md-3">
                    {% if trainer is defined %}
                      <a href="#" class="text-success">Bartosz Ozga<a/>
                    {% else %}
                      <a href="#" class="text-dark">Trener nie został wybrany<a/>
                    {% endif %}
                    </div>
                    <div class="col-md-3">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <a href="{{path("user_trainers")}}" class="btn btn-success btn-sm mt-4 mb-4">Zarządzaj trenerami</a>
                    </div>
                  </div>
                </div>
                <div class="edit_buttons">
                  <input type="submit" class="fadeIn fourth" value="Otwórz konfigurację profilu" id="openEdit" onclick="openEdit()">
                  <input type="submit" class="fadeIn fourth" value="Zamknij konfigurację profilu" id="closeEdit" onclick="closeEdit()">
                </div>
            </div>
          </div>
            <div class="grid_panel_center" id="edit_menu">
              <div class="user_profile">
                <div class="text-center mt-5">
                <div class="text-center mt-2">
                  <h3 class="mt-2">Biogram:</h3>
                  <hr class="line mb-2">
                    {{ form_start(formUserBio, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formUserBio, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formUserBio) }}
                    {{ form_end(formUserBio) }}
                  <h3 class="mt-2">Dane konta:</h3>
                  <hr class="line">
                    {{ form_start(formUserData, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formUserData, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formUserData) }}
                    {{ form_end(formUserData) }}
                  <div class="text-center mt-2">
                  <h3 class="mt-2">Hasło:</h3>
                  <hr class="line mb-2">
                    {{ form_start(formPassword, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formPassword, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formPassword) }}
                    {{ form_end(formPassword) }}
                  <h3 class="mt-2">Dane kontaktowe:</h3>
                  <hr class="line">
                    {{ form_start(formAddress, {'method': 'POST', 'attr': {'class': 'text-center'}})}}
                      {{ form_widget(formAddress, {'attr': {'class': 'custom_inputs_add_form'}})}}
                      {{ form_errors(formAddress) }}
                    {{ form_end(formAddress) }}
                </div>
            </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block custom_javascript %}
<script>
          function openEdit(){
            document.getElementById('openEdit').style.display = "none";
            document.getElementById('closeEdit').style.display = "block";
            document.getElementById('edit_menu').style.display = "grid";
          }
          function closeEdit(){
            document.getElementById('openEdit').style.display = "block";
            document.getElementById('closeEdit').style.display = "none";
            document.getElementById('edit_menu').style.display = "none";
          }
</script>
{% endblock %}