{% block menu %}
        <div class="nav-bar" id="nav-bar">
          <div class="nav-logo">
              <a href="{{ path("home_page")}}">Workout with <span>Me</span></a>
          </div>
          <div class="nav-links" id="nav-links">
              <i class="fa fa-times fa-2x" onclick="closeMenu()"></i>
                <div class="nav-link">
                  <a href="{{ path("logout")}}">Wyloguj</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("trainer_home_page")}}">Profil</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("show_diet_plan_list_trainer")}}">Diety</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("show_training_plan_list_trainer")}}">Treningi</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("trainer_users")}}">Uczestnicy<br> <small>Lista próśb</small></a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("logout")}}">Wyloguj</a>
                </div>
          </div>
          <i class="fa fa-bars fa-2x" onclick="showMenu()"></i>
        </div>
        <div class="nav-user" id="nav-user">
          <ul>
            {% if menu_name is defined and menu_name == 'profile'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("trainer_home_page")}}">Profil</a>
            </li>
            {% if menu_name is defined and menu_name == 'diet_plan'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("show_diet_plan_list_trainer")}}">Diety</a>
            </li>
            {% if menu_name is defined and menu_name == 'training_plan'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("show_training_plan_list_trainer") }}">Treningi</a>
            </li>
            {% if menu_name is defined and menu_name == 'trainer_user'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("trainer_users")}}">Uczestnicy<br> <small>Lista próśb</small></a>
            </li>
            {% if menu_name is defined and menu_name == 'subscription'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="#">Subskrybcja<br> <small>Płatności</small></a>
            </li>
          </ul>
            <li class="">
            <div class="justify-content-center mr-5">
            {{ render(controller('App\\Controller\\NotificationController\\NotificationController::renderInvitationNotificationForTrainer')) }}
            {{ render(controller('App\\Controller\\NotificationController\\NotificationController::renderActiveParticipantsNotificationForTrainer')) }}
            </div>
            </li>
        </div>
{% endblock %}