 {% block menu %}
        <div class="nav-bar" id="nav-bar">
          <div class="nav-logo">
              <a href="{{ path("home_page")}}">Workout with <span>Me</span></a>
          </div>
          <div class="nav-links" id="nav-links">
              <i class="fa fa-times fa-2x" onclick="closeMenu()"></i>
              <div class="nav-link">
                <a href="{{ path("logout")}}">{{('menu.logout')|trans}}</a>
              </div>
              <div class="nav-link" id="hidden">
                <a href="{{ path("user_home_page")}}">Profil</a>
              </div>
              <div class="nav-link" id="hidden">
                <a href="{{ path("show_diet_plan_list_for_user")}}">Dieta</a>
              </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("show_training_plan_list_for_user")}}">Trening</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="{{ path("user_trainers")}}">Trener</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="#">Dziennik Progresu</a>
                </div>
                <div class="nav-link" id="hidden">
                  <a href="#">Lista Zakupów</a>
                </div>   
              <div class="nav-link" id="hidden">
                <a href="{{ path("logout")}}">{{('menu.logout')|trans}}</a>
              </div>         
          </div>
          <i class="fa fa-bars fa-2x" onclick="showMenu()"></i>
        </div>
        <div class="nav-user" id="nav-user">
          <ul>
            {% if menu_name is defined and menu_name == 'profile'%}
            <li class="active">
            {% else %}
            <li class="">
            {% endif %}
            <a href="{{ path("user_home_page")}}">Profil</a>
            </li>
            {% if menu_name is defined and menu_name == 'diet_plan'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("show_diet_plan_list_for_user")}}">Dieta</a>
            </li>
            {% if menu_name is defined and menu_name == 'training_plan'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("show_training_plan_list_for_user")}}">Trening</a>
            </li>
            {% if menu_name is defined and menu_name == 'user_trainer'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path("user_trainers")}}">Trener</a></li>
            {% if menu_name is defined and menu_name == 'progress_diary'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="#">Dziennik progresu</a>
            </li>
            {% if menu_name is defined and menu_name == 'shop_list'%}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="#">Lista zakupów</a>
            </li>

          </ul>
        </div>
{% endblock %}